p.glossar { text-align: left; margin-left: 2em; text-indent: -2em; margin-top: 0.5em }
p.glcont  { text-align: left; margin-left: 2em; text-indent: 0; margin-top: 0.5em }
td        { vertical-align: top }

.local    { font-size: 160% }
.word     { color: red; font-weight: bold }
