
body {
  font-family: arial;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

a:link {
  color: #003399;
  text-decoration: none;
}

a:visited {
  color: #003399;
  text-decoration: none;
}

a:hover {
  color: #003399;
  text-decoration: none;
  background-color: #e0e0e0;
}

a:active {
  color: #003399;
  text-decoration: none;
}


img.autpic {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 20px;
  border: 1px solid darkgrey;
  width: 200px;
}

img.signature {
}

.pseudonym {
  font-size: 100%;
  color: #666666;
  font-style: italic;
  margin-top: 1px;
  margin-bottom: 0px;
}

.name {
  font-size: 105%;
  color: #333333;
  margin-bottom: 0px;
  padding-top: 20px;
}

.allname {
  margin-bottom: 12px;
}

.lektorat {
  color: darkred}

hr {
  size: 1pt;
  color: #333333;
  height: 1pt;
  clear: both;
}

hr.short {
  text-align: center;
  height: 1pt;
  size: 1pt;
  color: #999999;
  margin-top: 3em;
  margin-bottom: 1em;
  width: 20%;
}

p {
  margin-top: 0pt;
  margin-bottom: 6pt;
  text-align: justify
}

ul {
  margin-top: 0px;
  margin-bottom: 6pt;
}

table {
  text-align: left;
}

.anzeige-gb {
  text-align: left;
  background-color: #eeeeee;
  margin-left: 0px; 
}  

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.archived {
  margin-top: 10pt;
}

.works {
  margin-top: 10pt;
}
h3 {
  font-size: 105%;
  margin-top: 8pt;
  margin-bottom: 5pt;
}

h4 {font-size: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

h5 {font-size: 90%;
  font-weight:bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

.mainnav {
  font-family: Arial;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px #d26402 solid;
  border-bottom: 1px #d26402 solid;
}

.autalpha {
  font-family: Arial;
  text-align: center;
}

.trenner {
  font-size: 10pt;
  font-weight: bold;
  color: #d26402;
}

.hide{
  display: none;
}

.hide a{
  display: none;
}

.online{
  display: none;
}
