body {
  font-family: arial;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

tbody {
  font-family: arial;
}

.liste {
  font-family: arial;
  font-size: 90%;
}

td  {
  font-family: arial;
  text-align: left;
}

td.center  {
  font-family: arial;
  text-align: center;
}


a:link {
  color: #003399;
  text-decoration: none;
}

a:visited {
  color: #003399;
  text-decoration: none;
}

a:hover {
  color: #003399;
  text-decoration: none;
  background-color: #e0e0e0;
}

a:active {
  color: #003399;
  text-decoration: none;
}

.wgs {
  color: #666666;
  font-size: 80%;
}

.figcaption {
  text-indent: 0pt;
  text-align: center;
  font-style: italic;
}

.figure {
  text-indent: 0pt;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


.hidden, .hide {
  display: none;
}


.wide, .spaced {
  letter-spacing: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  text-indent: 0.8em;
  text-align: justify;
}

p.center {
  text-indent: 0pt;
  text-align: center;
}

p.centerbig {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  text-indent: 0pt;
  text-align: center;
  font-size: 115%;
}

p.centersml {
  text-indent: 0pt;
  text-align: center;
  font-size: 90%;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

p.dblmarg {
  text-indent: 0pt;
  margin-left: 10%;
  margin-right: 10%;
}

p.left {
  text-indent: 0pt;
  text-align: left;
  text-align: justify
}

p.leftjust {
  text-indent: 0pt;
}

p.leftmarg {
  text-indent: 0pt;
  text-align: left;
  margin-left: 10%;
}

p.right {
  text-indent: 0pt;
  text-align: right;
}

table.left {
  margin-left: 0pt;
  text-align: left;
}

table.right {
  margin-right: 0pt;
}

table.toc {
  margin-top: 0.3em;
}

img.left {
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

img.right {
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

img.start {
  margin-top: 10%;
}

tt {
  font-family: Courier;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mainnav {
  font-family: Arial;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px #d26402 solid;
  border-bottom: 1px #d26402 solid;
}

.autalpha {
  font-family: Arial;
  text-align: center;
}

.trenner {
  font-size: 10pt;
  font-weight: bold;
  color: #d26402;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.authorlist {
  text-align: left;
}
