body { background-color: #ffffee }

p { margin-top: 0.5em;
    text-align: center;
    font-family: ZurichCalligraphic, Zapf-Chancery, "Park Avenue", Paradise, cursive, serif;
    font-size: large }

p.centerbig { font-size: x-large }

.wide { letter-spacing: 0.15em }
