p           { margin-top: 0.5em; margin-left: 2em; text-indent: -2em; }

p.center    { text-indent: 0; margin-left: 0; margin-right: 0;
              text-align: center; }

span.local  { font-size: 160% }
span.wort   { color: red }
