BODY			{margin-left: 2%; margin-right: 2%; background-color: #fffcf4}

A:link {
  color: #0000CC;
  text-decoration: none;
}

A:active {
  color: #CC00CC;
  font-weight: bold;
  text-decoration: none;
}

A:visited {
  color: #CC0000;
  text-decoration: none;
}

P			{margin-left: 1em; text-indent: -1em; margin-top: 0.5em}
P.left			{margin-left: 0; text-indent: 0}
P.leftmarg		{margin-left: 2em; text-indent: 0}
P.center		{margin-left: 0; text-indent: 0; text-align: center}
P.centerbig		{margin-left: 0; text-indent: 0; text-align: center; font-size: 110%}
P.centersml		{margin-left: 0; text-indent: 0; text-align: center; font-size: 90%}

.note			{font-size: 90%}
.wide			{ letter-spacing: 0.15em }

H1,H2,H3,H4,H5,H6	{text-align: center}
