p { margin-top: 1em; font-style: italic }

p.left { margin-top: 1em }
p.leftmarg { margin-top: 1em; text-align: left; margin-left: 7% }
p.center { margin-top: 1em; text-align: center }

span.titel0 { letter-spacing: 1.5em; text-transform: uppercase; font-size: 180%; font-style: italic }
span.titel1 { letter-spacing: 0.5em; text-transform: uppercase; font-style: italic }
span.titel2 { text-transform: uppercase; font-size: 80%; font-style: italic }
span.titel2a { letter-spacing: 0.5em; text-transform: uppercase; font-size: 80%; font-style: italic }
span.titel3 { text-transform: uppercase; font-style: italic }
span.titel4 { text-transform: uppercase; font-size: 80%;; font-style: italic }
span.titel5 { letter-spacing: 0.5em; text-transform: uppercase; font-size: 130%; font-style: italic }
span.titel { letter-spacing: 0.4em; text-transform: uppercase; font-style: italic }


