p.glossar { text-align: left; margin-left: 2em; text-indent: -2em; margin-top: 0.5em }

.initial   { font-size: 200% }
.overline  { text-decoration: overline }
.word      { color: red; font-weight: bold }
.xsmall    { font-size: 67% }
