/* Seiten-Numerierung */
a.pageref         { display: none; color: #006060 }
a.pageref:before  { content: "["}
a.pageref:after   { content: "]"}

/* Motto, zentriert */
div.motto   { margin-left: 25%; margin-right: 25% }

/* Absatz mit Initial-Buchstabe */
p.initial  { text-indent: 0; text-align: justify }
p.initial:first-letter { font-size: 180% }
