p.lm1 { margin-left: 4em; text-indent: -2em; text-align: left }
p.lm2 { margin-left: 6em; text-indent: -2em; text-align: left }
p.lm3 { margin-left: 8em; text-indent: -2em; text-align: left }

span.JE        {  }
span.JE:before { content: "(" }
span.JE:after  { content: ")" }
