P.glossar { text-align: left; margin-left: 2em; text-indent: -2em; margin-top: 0.5em }
P.leftmarg  { text-align: left; margin-left: 2em; text-indent: 0; margin-top: 0.5em }


.initial   { font-size: 200% }
.word      { color: red; font-weight: bold }
