p.abstract2 { margin-left: 2em; text-indent: -2em; margin-top: 0.5em;
              text-align: justify; letter-spacing: 0.15em }
p.abstract3 { margin-left: 2em; text-indent: -2em; margin-top: 0.5em;
              text-align: justify; font-size: 90%; font-style: italic }
