p {margin-top: 0.8em; margin-left: 2em; margin-right: 2%; text-indent: -2em}
p.preface {margin-top: 0.5 em; margin-bottom: 0 em; margin-left: 2%; text-indent: 1em}
div.indented {margin-left: 2em; margin-right: 2em}
span.green { color: green }
span.bigbracket { font-size: 200% }
