/*	20030210	created (gh)
*/

@import url(capitals.css);

body			{font-size:10pt;
			font-family:"Lucida Sans Unicode", sans-serif}

h1,h2,h3,h4,h5,h6	{text-align: center}
ul.roman		{list-style: upper-roman outside}

div.poem		{margin-left: 20%; margin-right: 20%}
div.vers		{margin-top: 0.5em; margin-bottom: 0.5em}
div.vers p		{margin-top: 0; margin-bottom: 0}

div.box			{margin-left: 25%;
			margin-right: 25%;
			background-color: white;
			border: 1px solid white}

div.box p		{margin-top: 1em;
			margin-bottom: 1em;
			margin-left: 1em;
			margin-right: 1em}

p.line1:first-letter	{font-size:150%}	/* ab MSIE-5.5 , NS-7.0 */

.indent			{text-indent: 1em}
.center			{text-align: center}
.justify		{text-align: justify}

span.firstletter	{font-size: 150%}	/* Vers beginnt mit Interpunktion, z.B. "Ach */


