body { margin-left: 10%; margin-right: 10%; background-color: #ffffff; font-family:sans-serif }

h3 { margin-top: 2em; margin-bottom: 2em; text-align: center; text-transform: uppercase }

p        { margin-top: 0.3em; margin-left: 0; text-indent: 0; text-align: justify }
p.lzeile { margin-top: 0.3em; margin-left: 1em; text-indent: -1em; text-align: justify }
p.rzeile { margin-top: 0.3em; margin-left: 0; text-indent: 1em; text-align: justify }
p.center { margin-top: 1em; text-align: center }

