P.center0     { text-indent: 0; text-align: center; margin-top: 0 }
P.left0       { text-indent: 0; text-align: left; margin-top: 0 }

span.fraktur  { font-size: 120%; font-family: Frankenstein, Lincoln, serif }
