p.glossar { text-align: left; margin-left: 2em; text-indent: -2em; margin-top: 0.5em }

span.bigletter { font-size: 200% }

.wort      { color: red; font-weight: bold }
.grammatik { font-style: italic }
