P.glossar { text-align: left; margin-left: 2em; text-indent: -2em; margin-top: 0.5em }
P.lm      { text-align: left; margin-left: 2em; text-indent: 0; margin-top: 0.5em }

span.bigtitle  { font-size: 200% }
span.grammatik { font-style: italic }
span.wort      { color: red; font-weight: bold }
