P           {margin-left: 2em; text-indent: -2em}
P.left      {margin-left: 0; text-indent: 0}
P.leftmarg  {margin-left: 2em; text-indent: 0}
P.center    {margin-left: 0; text-indent: 0; text-align: center}
P.centerbig {margin-left: 0; text-indent: 0; text-align: center; font-size: 110%}
P.centersml {margin-left: 0; text-indent: 0; text-align: center; font-size: 90%}
P.right     {margin-left: 0; text-indent: 0; text-align: right; margin-right: 5%}
P.rightsml  {margin-left: 0; text-indent: 0; text-align: right; margin-right: 5%; font-size: 90%}

BLOCKQUOTE  { margin-left: 1em; margin-right: 0; margin-top: 0; margin-bottom: 0 }
