p.drama1 { margin-left: 2em; text-indent: -2em }
p.drama2 { margin-left: 6em; text-indent: -6em; text-align: left }
p.cdrama1 { margin-left: 2em; text-indent: 0 }
p.cdrama2 { margin-left: 6em; text-indent: 0; text-align: left }
