p.absnum0   { font-size: 90%; font-style: italic; margin-left: 4em;
              margin-right: 3em; text-indent: -1em; text-align: justify }
p.absnum1   { font-size: 90%; font-style: italic; margin-left: 5em;
              margin-right: 3em; text-indent: -1em; text-align: justify }
p.absnum2   { font-size: 90%; font-style: italic; margin-left: 6em;
              margin-right: 3em; text-indent: -1em; text-align: justify }

td.versmarg { width: 2em }
