body { margin-left: 2%; margin-right: 2%; background-color: #fffcf4 }
p { text-indent: 0.8em; margin-top: 0.5em; font-family: "Frankenstein", Times, serif }
p.left { text-indent: 0 }
p.center { text-indent: 0; text-align: center }
p.initial   { text-indent: 0 }
p.initial:first-letter { font-size: 330%; float: left }
tt { font-family: Times, serif }
h1, h2, h3, h4 { font-family: "Frankenstein", Times, serif }

span.wide { letter-spacing: 0.2em }
span.smaller { font-size: 75% }
