span.block { display: inline-block; position: relative; padding: 3px; border: 2px solid #000000; text-indent: 0; text-align: center }

span.block3 { display: inline-block; position: relative; top: 1.5ex; padding: 1px; border: 2px solid #000000; text-indent: 0; text-align: center }

hr.thin { border-width: 1px 0 0 0; color: #000000; margin-top: 0; margin-bottom: 0 }