p { margin-top: 0.8em; margin-bottom: 0; }

p.abstract { font-size: 90%; font-style: italic; margin-left: 3em; margin-right: 3em; text-indent: 0; text-align: justify }

table.true   { margin-left: auto; margin-right: auto; padding-top: 0; padding-bottom: 0; margin-top: 0.3em }
